body {
  color: white;
  background-color: black;
  font-family: "arial", sans-serif;
  letter-spacing: 1px;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: gray;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray;    /* color of the scroll thumb */
  border-radius: 5px;
}

header {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 10px 0px;
  overflow: hidden;
  background-color: rgb(83, 83, 83);
  margin-bottom: 30px;
}

li {
  display: block;
  text-align: left;
  float: right;
}

li a:hover {
  background-color: rgb(69, 69, 69);
}

.link {
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
  padding: 14px 16px;
}

.link:first-child {
  border-left: 1px solid white;
}

.link:last-child {
  border-right: none;
}

#portifolio{
  float: left;
}

.home{
  text-decoration: none;
  padding-left: 10px;
  font-size: 20px;
  color:white;
  padding: 10px 12px;
}

.center {
  margin: 0 30px;
}

#sobreEu {
  padding-bottom: 5%;
}

#felipe {
  margin-right: 5px;
  grid-column: 1;
  grid-row: 2;
}

.titulo {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 4px;
}

.section {
  display: grid;
}

#ladinho {
  grid-column: 2;
  grid-row: 2;
}

.robertoCarlos {
  font-size: 104%;
}

#rodape {
  margin-top: 9%;
  text-align: center;
  background-color: gray;
}

.subtitulo{
  padding-top: 10px;
  justify-content: center;
  font-size: 30px;
}

.flex{
  display: flex;
  justify-content: center;
}

.info:nth-child(2){
  margin-top: 10px;
}

.icon{
  width: 15px;
  height:15px;
  margin-right: 2px;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width:800px){
  .center{
    margin: 0 10px;
  }

  #portifolio{
    padding: 0;
  }
  #ladinho{
    grid-column: 1;
    grid-row: 3;
  }
}
  